
.content{
    margin-top: 10px;
}
.text{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}
.short-text{
    margin-top:40px !important;
}
.resume-list{
    margin-top: 30px;
    margin-bottom: 30px;
    .resume-list_title{
        font-size:18px;
        color:#999;
        letter-spacing:5px;
    }
    .resume-list_block{
    border-left: 2px solid #6d56c1;
    padding-left: 25px;
    padding-bottom: 50px
    }
    .resume-list_block-title{
        text-transform: uppercase;
        color: #6d56c1;
        font-size: 14px;
        line-height: 20px;   
    }
    .resume-list_block-date{
    line-height: 20px;
    color: #999;
    padding-bottom: 10px
    }

    .resume-list_block::before{
    width: 12px;
    height: 12px;
    border: 2px solid #6d56c1;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    left: 299px;
    }
}